#fName, #lName{
    display: inline;
    width: 25%;
    margin-left: 5px;
}

.table-container {
    max-height: 400px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    display: block;
}

#successMessage{
    text-align: center;
}

#footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #f8f9fa; /* Adjust background color as needed */
    height: 75px;
}

@media (max-width: 768px) {
    #footer {
        height: 80px; /* Adjust height for smaller screens */
    }
}